body{
    background-color: aquamarine;
}
.gameboard{
    display: flex;
    border: auto;
    justify-content: space-around;
    align-items: stretch;
    background-color: darkslateblue;
    color: aliceblue;
    padding: 20px;
    outline:auto;
}

.left-gameboard{
    display: flex;
    flex-direction: column;
    justify-content: top;
    outline: auto;
    padding: 20px;
}

.mid-gameboard{
    display: flex;
    flex-direction: column;
    border-color: white;
    padding: 25px;
    flex-grow: 1;
    align-items: center;
}

.right-gameboard{
    display: flex;
    flex-direction: column;
    border: auto;
    outline: auto;
    align-items: center;
}

.dark-switch{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 60px;
    margin: 10px;
}

.dark-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    box-shadow: #2196f3;
}

input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
    margin:10px;
}
.slider.round:before{
    border-radius: 50%;
}

.input{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 30px;
    border: solid;
    border-color: white;
    border-radius: 25%;
}

.scoreboard{

}

.game-buttons{
    display:flex;
    flex-direction: column;
}


